.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/e8ccc39b74145eecb422e901/fggh-min.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
}
.u-section-1 .u-sheet-1 {
  min-height: 1044px;
}
.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.u-section-1 .u-layout-cell-1 {
  min-height: 436px;
}
.u-section-1 .u-container-layout-1 {
  padding: 30px 55px 30px 30px;
}
.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  margin: 0;
}
.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: Raleway, sans-serif;
  margin: 20px 0 0;
}
.u-section-1 .u-text-3 {
  margin: 63px 0 0;
}
.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 1px;
  padding: 0;
}
.u-section-1 .u-layout-cell-2 {
  min-height: 436px;
}
.u-section-1 .u-container-layout-2 {
  padding: 30px;
}
.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 300;
  margin: 0;
}
.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: normal;
  margin: 38px auto 0 0;
  padding: 10px 50px 10px 49px;
}
@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 42.7% 50%;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }
  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }
  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
  }
  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
  .u-section-1 .u-layout-cell-2 {
    min-height: 360px;
  }
}
@media (max-width: 991px) {
  .u-section-1 {
    background-position: 27.83% 50%;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }
  .u-section-1 .u-text-2 {
    font-size: 2.625rem;
  }
  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }
}
@media (max-width: 767px) {
  .u-section-1 {
    background-position: 19.45% 50%;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .u-section-1 .u-text-3 {
    margin-top: 32px;
  }
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
  }
  .u-section-1 .u-layout-cell-1 {
    min-height: 194px;
  }
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
  .u-section-1 .u-layout-cell-2 {
    min-height: 313px;
  }
  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }
  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}
.u-backlink {
  position: relative;
  text-align: center;
  padding: 1em;
}
.u-grey-80 {
  color: #ffffff;
  background-color: #333333;
}
.u-body {
  --theme-sheet-width-xl: 1140px;
  --theme-sheet-width-lg: 940px;
  --theme-sheet-width-md: 720px;
  --theme-sheet-width-sm: 540px;
  --theme-sheet-width-xs: 340px;
}
.u-gutter-0 .u-layout {
  margin: 0px;
}
.u-gutter-0 .u-layout .u-layout-cell {
  border: 0px solid transparent;
}
.u-gutter-0.u-layout-spacing-top {
  padding-top: 0px;
}
.u-gutter-0.u-layout-spacing-top-bottom {
  padding: 0px 0;
}
.u-gutter-0.u-layout-spacing-left-right {
  padding: 0 0px;
}
.u-gutter-0.u-layout-spacing-all {
  padding: 0px;
}
.u-layout-wrap.u-layout-spacing-vertical .u-layout-cell {
  border-top-width: 0;
  border-bottom-width: 0;
}
.u-layout-wrap.u-layout-spacing-vertical .u-layout {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.u-text {
  font-size: 1rem;
  line-height: 1.6;
  font-size: 16px;
}

.u-image {
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
