!!!5
%html{lang: "en", style: "font-size: 16px;"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{content: "30 Days Plank Challenge", name: "keywords"}/
    %meta{content: "", name: "description"}/
    %title Plank
    %link{href: "plank.css", media: "screen", rel: "stylesheet"}/
    %link{href: "https://capp.nicepage.com/4efbb11f1092565da0ee019be1a4beb146fa1c03/nicepage.css", media: "screen", rel: "stylesheet"}/
    %link{href: "https://website204008.nicepage.io/nicepage-site.css", media: "screen", rel: "stylesheet"}/
    %meta{content: "Nicepage 5.6.3, nicepage.com", name: "generator"}/
    %link#u-theme-google-font{href: "https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i", rel: "stylesheet"}/
    %link#u-page-google-font{href: "https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i", rel: "stylesheet"}/
  %body.u-body.u-xl-mode{"data-lang" => "en"}
    %section.u-clearfix.u-image.u-shading.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        .u-clearfix.u-expanded-width.u-gutter-0.u-layout-spacing-vertical.u-layout-wrap.u-layout-wrap-1
          .u-gutter-0.u-layout
            .u-layout-row
              .u-container-style.u-layout-cell.u-size-30.u-layout-cell-1
                .u-container-layout.u-valign-top.u-container-layout-1
                  %h6.u-custom-font.u-text.u-text-body-color.u-text-font.u-text-1 home workouts online
                  %h1.u-custom-font.u-font-raleway.u-text.u-text-body-color.u-text-2 30 Days Plank Challenge
                  %p.u-text.u-text-body-color.u-text-3
                    Image from
                    %a.u-active-none.u-border-1.u-border-black.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-body-color.u-btn-1{href: "https://www.freepik.com/vectors/background"} Freepik
              .u-align-left.u-container-style.u-layout-cell.u-size-30.u-layout-cell-2
                .u-container-layout.u-container-layout-2
                  %p.u-text.u-text-body-color.u-text-4
                    We combine local knowledge with global expertise, strategy with design, empathy with creativity, meaning with magic. Reach out to discuss how we might help you accelerate change.
                    %br/
                    %br/
                    %b Some text in Latin to look cooler
                  %a.u-border-1.u-border-black.u-btn.u-button-style.u-hover-black.u-none.u-text-black.u-text-hover-white.u-btn-2{href: "https://nicepage.com"} contact us
    %section.u-backlink.u-clearfix.u-grey-80
      %p.u-text
        %span Re-created by Ivan Dzhus 2RD.22